#main {
font-family: Arial, sans-serif;
background-color: #c7800c;
}

.pokemon-list {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
padding: 20px;
background-color: #c7800c;
margin-top: 72px;
}

header {
position: fixed;
display: flex;
flex-direction: row;
align-items: center;
/* justify-content: center; */
top: 0;
left: 0;
background-color: #823329;
color: #f4fff8;
width: 100%;
height: 72px;
font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
font-size: larger;
font-weight: bolder;
padding: 2px;
}

header img {
height: 60px;
margin-right: 10px;
}

header text {
display: flex;
}

.pokemon-item {
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
background-color: #278144;
color: #fff;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-item img {
width: 100px;
height: 100px;
object-fit: contain;
border-radius: 50%;
}

.pokemon-item p {
margin: 10px 0 0;
}

.pokemon-item small {
color: #f3f3f3;
}